<h1>How it Works</h1>
<p class="lead">Use this awesome app to translate the bible for those who need it!<br> Here are some more words that sound great.</p>
<a href="#"><button class="btn btn-warning btn-lg">Get Started</button></a>
