<% @body_class = "works-page" %>
<% content_for :jumbotron do %>
	<h1>How it Works</h1>
	<p class="lead">Complex sentences, simplified to make the translation process smoother.</p>
<% end %>

<div class="main-content clearfix">
	<div class='embed-container'>
		<iframe src='https://www.youtube.com/embed/enl-D8DcPrQ' frameborder='0' allowfullscreen></iframe>
	</div>
</div>