<div class="starter-template">
  <h1>Translate the Bible<br>Quicker and Easier</h1>
  <p class="lead">Use this awesome app to translate the bible for those who need it!<br> Here are some more words that sound great.</p>
  <a href="/signup"><button class="btn btn-warning btn-lg">Get Started</button></a>
</div>

