<% @body_class = "body-white body-extra-top-padding" %>

<div ng-app="translateAssistant">
  <div ng-controller="TranslateController">
    <div class="source-text col-lg-8 col-md-6" style="font-size: 32pt;" ng-mouseup="clearHighlight()">
      <span ng-repeat="word in words"
            ng-class="{ 'word': true, 'selection-disabled': true, 'highlighted': indexIsHighlighted($index) }" 
            ng-mousedown="startWith(word, $event)"
            ng-mousemove="endWith(word, $event)"
            ng-mouseup="stopPropagation($event)"
            ng-style="{ 'box-shadow': boxShadowForWord(word) }">
        {{word.word}}
      </span>
    </div>
    <div class="col-lg-4 col-md-6" style="min-height:600px">
      <div ng-class="{ 'propertyPane': true, 'propertyCompleted': propertyIsCompleted() }" ng-show="showDefinitionPane">
        <h3>Definition <span class="glyphicon glyphicon-ok" ng-show="propertyIsCompleted()"></span></h3>
        <div class="searchContainer" ng-show="definition.id == 'other'">
          <div class="has-feedback">
            <input type="text" class="form-control" placeholder="Search definitions" ng-model="definition.searchText" ng-enter="searchDefinitions()" />
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </div>
        <div class="radio">
          <div ng-repeat="suggestion in definitionOptions">
            <label>
              <input type="radio" name="definition" id="definition" ng-model="definition.id" value="{{suggestion.id}}">
              {{suggestion.title}} - {{suggestion.description}}
            </label>
          </div>
          <div>
            <label>
              <input type="radio" name="definition" id="definition" ng-model="definition.id" value="other">
              Other
            </label>
          </div>
        </div>
      </div>

      <div ng-class="{ 'propertyPane': true, 'propertyCompleted': selectedWordGroup.groupType }" ng-show="showGroupTypePane">
        <h3>Type <span class="glyphicon glyphicon-ok-sign" ng-show="selectedWordGroup.groupType"></span></h3>
        <div class="radio">
          <div ng-repeat="groupType in groupTypeOptions">
            <label>
              <input type="radio" name="fizzBuzz" ng-model="$parent.selectedWordGroup.groupType" ng-value="groupType">
              {{groupType}}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

