<% @body_class = "body-white body-extra-top-padding" %>

<div ng-app="translateAssistant">
  <div ng-controller="TranslateController" style="font-size: 32pt;">
    <div class="source-text" ng-mouseup="clearHighlight()">
      <span ng-repeat="word in words"
            ng-class="{ 'selection-disabled': true, 'highlighted': indexIsHighlighted($index) }" 
            ng-mousedown="startWith(word, $event)"
            ng-mousemove="endWith(word, $event)"
            ng-mouseup="stopPropagation($event)">
        {{word.word}}
      </span>
    </div>
  </div>
</div>

