<% @body_class = "body-white body-extra-top-padding" %>

<div ng-app="translateAssistant">
  <div ng-controller="TranslateController">
    <div class="source-text col-lg-8 col-md-6" style="font-size: 32pt;" ng-mouseup="clearHighlight()">
      <span ng-repeat="word in words"
            ng-class="{ 'word': true, 'selection-disabled': true, 'highlighted': indexIsHighlighted($index) }" 
            ng-mousedown="startWith(word, $event)"
            ng-mousemove="endWith(word, $event)"
            ng-mouseup="stopPropagation($event)"
            ng-style="{ 'box-shadow': boxShadowForWord(word) }">
        {{word.word}}
      </span>
    </div>

    <div class="col-lg-4 col-md-6" style="min-height:600px">
      <div class="legend">
        <div ng-repeat="wordGroup in intersectingWordGroups" ng-click="highlightWordGroup(wordGroup)" style="text-overflow: ellipsis; height: 24px; white-space: nowrap; overflow: hidden; cursor: pointer;">
          <span ng-style="{ 'width': '14px', 'height': '3px', 'margin': '0 4px 3px 0', 'background-color': colorForWordGroup(wordGroup), 'display': 'inline-block' }"></span>
          {{textForWordGroup(wordGroup)}}
        </div>
      </div>

      <div ng-class="{ 'propertyPane': true, 'propertyCompleted': definitionIsCompleted() }" ng-show="showDefinitionPane">
        <h3>
          Definition
          <span class="glyphicon glyphicon-ok" ng-show="definitionIsCompleted()"></span>
        </h3>
        <div ng-class="{ 'searchContainer': true, 'expandedSearchBox': shouldShowDefinitionSearchBox() }" ng-show="!definitionIsCompleted()">
          <span class="glyphicon glyphicon-search" ng-click="features.concept = { id: 'other' }"></span>
          <input type="text" class="form-control" ng-model="features.searchText" ng-focus="features.concept = { id: 'other' }" />
        </div>
        <div class="radio">
          <div ng-repeat="suggestion in definitionOptions">
            <label>
              <input type="radio" name="definition" id="definition" ng-model="features.concept" ng-value="suggestion">
              {{suggestion.title}} - {{suggestion.description}}
            </label>
          </div>
        </div>
      </div>

      <div ng-class="{ 'propertyPane': true, 'propertyCompleted': selectedWordGroup.groupType }" ng-show="showGroupTypePane">
        <h3>
          Phrase Type
          <span class="glyphicon glyphicon-ok" ng-show="selectedWordGroup.groupType"></span>
        </h3>
        <div class="radio">
          <div ng-repeat="groupType in groupTypeOptions">
            <label>
              <input type="radio" name="phraseType" ng-model="$parent.selectedWordGroup.groupType" ng-value="groupType">
              {{groupType}}
            </label>
          </div>
        </div>
      </div>
      
      <div ng-class="{ 'propertyPane': true, 'propertyCompleted': features.plurality != null }" ng-show="hasNounConcept()">
        <h3>
          Plurality
          <span class="glyphicon glyphicon-ok" ng-show="features.plurality != null"></span>
        </h3>
        <div class="radio">
          <div ng-repeat="plurality in pluralities">
            <label>
              <input type="radio" name="plurality" id="plurality" ng-model="features.plurality" value="{{plurality.id}}">
              {{plurality.title}}
            </label>
          </div>
        </div>
      </div>
      
      <div ng-class="{ 'propertyPane': true, 'propertyCompleted': features.tense != null }" ng-show="hasVerbConcept()">
        <h3>
          Tense
          <span class="glyphicon glyphicon-ok" ng-show="features.tense != null"></span>
        </h3>
        <div class="radio">
          <div ng-repeat="tense in tenses">
            <label>
              <input type="radio" name="tense" id="tense" ng-model="features.tense" value="{{tense.id}}">
              {{tense.title}}
            </label>
          </div>
        </div>
      </div>
      
      <div ng-class="{ 'propertyPane': true }" ng-show="selectedWordGroup.id">
        <a class="btn btn-danger" ng-click="deleteSelectedWordGroup()">
          <i class="glyphicon glyphicon-remove"></i>
          Delete
        </a>
      </div>
      
    </div>
  </div>
</div>

