/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootswatch/darkly/variables";
@import "bootstrap";
@import "bootswatch/darkly/bootswatch";

body {
  padding-top: 60px;
  padding-bottom: 20px;
}

body.body-white {
  background-color: #ffffff;
  color: #222;
}

body.body-extra-top-padding {
  padding-top: 75px;
}

.navbar-toggle {
	margin-top: 21px;
	margin-bottom: 17px;
}
.navbar-brand {
	padding-top: 10px;
	padding-bottom: 10px;
}

.jumbotron {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
}
.index-page .jumbotron {
	background-image: image-url("bible-on-table.jpg");
}
.about-page .jumbotron {
	background-image: image-url("about.jpg");
}

.bump-down {
	padding-top: 50px;
}

footer {
	text-align: center;
}
.footer-list {
	list-style: none;
	padding-left: 0;
}

.footer-list li {
	display: block;
	margin: 15px 15px;
}
.footer-list a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
.footer-text {
	padding-left: 7px;
}
.copyright {
	margin-top: 30px;
}
.checkbox input[type="checkbox"] {
	margin-left: 0;
}

label.ng-binding {
	margin: 5px 0;
}

@media (min-width: 768px) {
	.navbar-brand {
		padding: 10px 0;
	}
	.nav li a {
		padding: 25px 25px;
	}
	.jumbotron {
		width: auto;
	}
	.index-page .jumbotron {
		min-height: 600px;
	}
	.about-page .jumbotron {
		height: 400px;
	}
	.footer-list li {
		display: inline-block;
		margin-bottom: 0;
	}
}

.selection-disabled {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.source-text {
  text-align: justify;
  border: 2px gray solid;
}

.pane-container {
	border: 2px gray solid;
	border-left: none;
}

.source-text > .highlighted {
  background-color: #1159b4;
  color: #ffffff;
}

.propertyPane {
	border-bottom: 2px gray solid;
}
.propertyPane h3 {
  color: #1159b4;
}

.propertyCompleted h3 {
  color: green;
}

.propertyPane .searchContainer {
  margin: 2px;
  background-color: #1159b4;
  padding: 2px;
  border-radius: 5px;
  position: relative;
  width: 40px;
}

.searchContainer .form-control {
  height: 20px;
  padding: 2px 2px 2px 20px
}

.searchContainer input {
  padding: 0;
}

.searchContainer.expandedSearchBox {
  width: 100%;
}

.searchContainer .glyphicon-search {
  position: absolute;
  top: 5px;
  left: 5px;
}
